<div class="container">
  <div class = "row">
    <div class = "col-lg-2">
    </div>
    <div class = "col-lg-8">
     
      <h1>Welcome to<span class="glyphicon glyphicon-book" aria-hidden="true"></span>OMB Blogs!</h1>
      <br><h3>OMB Blog とは Only For Myself Blog<br><br>の略で自分自身専用のブログサービスです</h3>
      <div class ="tyuui">
        <h4>投稿したブログをシェアしたい場合は公開ステータスを公開にし、記事のURLを教えれば<br>シェアできます。
        （すでに投稿したブログはeditページで操作できます）</h4>
      </div>
    </div>
  </div>
</div>
